{name, "ecache"}.
{description, "ecache: Erlang ETS Based TTL Cache"}.
{homepage, "https://github.com/mattsta/ecache"}.
{url, {git, "https://github.com/mattsta/ecache.git", {branch, "master"}}}.
{authors, ["Matt Stancliff <sysop@mindspring.com>"]}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
